<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<location path="." inheritInChildApplications="false">
		<system.webServer>
			<handlers>
				<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
			</handlers>
			<aspNetCore processPath="dotnet" arguments=".\ChimneyOrderForm.dll" stdoutLogEnabled="false"
			            stdoutLogFile=".\logs\stdout" hostingModel="outofprocess" />
		</system.webServer>
	</location>
</configuration>
<!--ProjectGuid: BC12AD71-10B8-4472-88D0-331FA04744F1-->